 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 :root {
     --text: 2rem;
     --head: calc(1rem + 4vw);
     --bg-color: #d2dae2;
 }

 body{
     font-family: "poppins", sans-serif;
 }

 .hero-section{
     min-height: 100vh;
     background: url(https://images.unsplash.com/photo-1621070766841-a7bf1ee96df0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTkzfHxwaXp6YSUyMGJveHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 8vh;
     padding: 0rem 2rem;
     color: white;
 }

 .navbar ul {
     list-style: none;
 }

 .navbar ul li {
     display: inline-block;
     margin-left: 2rem;
     font-size: var(--text);
 }

 .navbar ul li a{
     text-decoration: none;
    color: rgb(241, 234, 234);
 }

 .hero-text {
     color: rgb(252, 10, 10);
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

 }

 .hero-text::before{
     content:"";    
     position: absolute;
     width:100%;
     height:100%;
     background: black;
     z-index: -1;
     top: 0;
     opacity: 0.7;
 }

 .hero-text a{
     color: black;
    background: var(--bg-color); 
    font-weight: 900;
    font-size: var(--text);
    padding: 0.7rem 1rem;
    margin: 0.7rem auto;
    display: block;
    transition: opacity 250ms linear;
 }

 .hero-text a:hover{
     opacity:0.8;
 }

 .hero-text h2{
     font-size: var(--head);
 }

 .hero-text p{
     font-size: 2rem;
 }

 

 